/* Hero */
.hero {
    text-align: center;
    padding: 80px 20px;
    background: linear-gradient(135deg, #111827, #1f2937);
    color: white;
}

.hero h1 {
    font-size: 42px;
    margin-bottom: 10px;
}

.hero p {
    font-size: 18px;
    opacity: 0.85;
}

/* Sections */
.content-section {
    padding: 60px 80px;
}

.create {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 25px;
    color: white;
}

.create-btn{
    display: inline-flex;
    gap: 6px; /* space between text and icon */
    text-decoration: none;
    background-color: var(--color-accent);
    color: black;
    padding: 10px 18px;
    border: 2px solid #ccc;
    border-radius: 8px;
    align-items: center;

}

.create-btn:hover{
    background: var(--color-accent-hover);

}

.content-section h2 {
    margin-bottom: 30px;
    font-size: 26px;
}

/* Card Grid */
.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 280px);
    gap: 30px;
    justify-content: space-between;
}
.card-grid a {
    text-decoration: none;

}

/* Cards */
.card {
    text-decoration: none;
    position: relative;
    border-radius: 16px;
    background-color: var(--color-primary);
    transition: transform 0.2s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-8px);
    background-color: var(--color-primary-hover);
    border: 2px solid #ccc;
    cursor: pointer;
}

.card h3 {
    margin-top: 10px;
    font-size: 20px;
}

.card p {
    margin: 10px 0 20px;
    color: white;
    font-size: 15px;
}

/* Buttons */
.card button {
    padding: 10px 18px;
    border: none;
    border-radius: 8px;
    background-color: var(--color-accent);
    color: black;
    cursor: pointer;
    font-size: 16px;
}

.card button:hover {
    background: var(--color-accent-hover);

}

.premium {
    background: rgb(255,215,0);
    color: #991b1b;
}

/* Responsive */
@media (max-width: 768px) {
    .content-section {
        padding: 40px 20px;
    }

    .hero h1 {
        font-size: 32px;
    }
}