
/* Full viewport height wrapper */
.page-center {
    min-height: 100vh;
    display: flex;
    justify-content: center;  /* horizontal */
    align-items: center;      /* vertical */
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url('https://images.unsplash.com/photo-1558611848-73f7eb4001a1') center/cover no-repeat;
}

/* Card */
.register-container {
    width: 100%;
    max-width: 450px;
    padding: 20px;
    background: rgba(145,35,56,0.9);/*concordia logo color */
    border-radius: 8px;
    text-align: left;

    h2{
    /*align the title text on top of the form to center */
        text-align: center;
    }

}

.register-container form p {
    text-align: left;
    margin-bottom: 18px;
}

.register-container input {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.register-container button {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    border: none;
    border-radius: 8px;

   background: rgba(167,150,103,1);

    border: 2px solid #ccc;
    color: white;
    font-weight: 600;
    cursor: pointer;
}

.register-container button:hover {
    border: 2px solid #ccc;
    background: rgba(160,40,65,1);
}



/* dropdown membership selection */
.styled-select {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ddd;
    font-size: 14px;
    background-color: white;
    appearance: none; /* removes default arrow */
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    transition: 0.1s ease;
}

/* Add custom arrow */
.styled-select {
    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='20' viewBox='0 0 24 24' width='20' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>");
    background-repeat: no-repeat;
    background-position: right 10px center;
}

.styled-select:hover {
    border: 2px solid rgba(167,150,103,1);
}

.styled-select:focus {
    outline: none;
    border: 2px solid rgba(167,150,103,1);
}