/* ================= dropdown DESIGN ================= */
.dropdown {
	margin-left: 25px;
	font-weight: 500;
	font-size: 20px;
	margin-bottom: 0px;
	transition: 0.2s;
	/* Smooth hover effect */
	vertical-align: middle;

	position: relative;
	display: inline-block;
	/* Makes parent full width */
}
/* make sure the bg color matches the header bg color */
.dropbtn {
	border: none;
	background: rgba(10, 10, 10, 0.8);
	color: white;
	cursor: pointer;
	display: flex;
	align-items: center;

}

.dropdown-content {

    display: none;
    position: absolute;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {

    text-align: center;
	display: block;
	background-color: rgba(100, 100, 100, 1);
	margin: 0px;
	padding: 20px 25px 30px;

	text-decoration: none;
	color: white;
}

.dropdown-content a:hover {
	background-color: rgba(50, 50, 50, 1);
}

.dropdown:hover .dropdown-content {
	display: block;
}


/* increase profile icon size */
.account-icon {
    font-size:50px;
}

/* align the right side of dropdown menu with parent + make it span to fit children  */
.account {
    position: absolute;
    right: 0;
    width: max-content;
    vertical-align: center;
}
/* align icon with text */
.account > a > span {
    margin-left: 5px;
    vertical-align: middle;
    font-size: 25px;
}
