{% load static %}
<!DOCTYPE html>
<!-- Declares this document as HTML5 -->

<html lang="en">
<!-- Root element of the webpage. lang="en" helps accessibility & SEO -->

<head>
    <meta charset="UTF-8">
    <!-- Defines character encoding (supports special characters properly) -->

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Makes the website dynamic on various devices and screen sizes -->

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

    <title> {% block title %} base {% endblock %}</title>

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'style.css' %}">

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <!-- left side menu-->
            <div >
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <!-- "/home" should be the url extension to where u want to navigate-->
                        <a class="nav-link" href="/home"> Home </a> <!-- link-->
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/gym"> Gym </a> <!-- link-->
                    </li>
                </ul>
            </div>
            <!-- right side menu (who is logged in)-->
            <div >
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <!-- "/home" should be the url extension to where u want to navigate-->
                        <a class="nav-link" href="/login/"> Login </a> <!-- link-->
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        {% block content %}

        {% endblock %}

    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>

</body>
</html>