{% extends 'CUFitness/staff/staff_base.html' %}
{% load static %}

{% block extra_styles %}
<link rel="stylesheet" href="{% static 'create_challenge.css' %}">
{% endblock %}

{% block content %}

<div class="challenge-page">
    <div class="challenge-container">

        <h2>Create Challenge</h2>

        <form method="POST">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group">
                    {{ field.label_tag }}
                    {{ field }}
                    {{ field.errors }}
                </div>
            {% endfor %}
            <button>Create</button>
        </form>

    </div>
</div>

{% endblock %}