{% extends 'CUFitness/staff_profile/staff_base.html' %}
{% load static %}
{% block title %} CUFitness {% endblock %}
{% block extra_styles %}
<link rel="stylesheet" href="{% static 'articles.css' %}"/>
{% endblock %}
{% block content %}


{% if user.is_authenticated and user.role == "STAFF" %}


<section class="content-section">
    <div class="create">
        <a href="/create_article" class="create-btn">
            Create Article
            <span class="material-icons">add</span>
        </a>

    </div>

    <div class="card-grid">
        {% for article in articles %}
            <a href="{% url 'article_details' article.id %}">
                <div class="card">
                    <h3>{{article.title}}</h3>
                    <p>{{article.description}}</p>
                    <button>Read More</button>
                </div>
            </a>
        {% empty %}
            <p>No articles yet.</p>
        {% endfor %}

    </div>

</section>



{% else %}

<p> not a staff member </p>

{% endif %}
{% endblock %}