{% extends 'frontend/base.html' %}
{% load static %}

{% block title %} CUFitness Register{% endblock %}

{% block extra_styles %}
<link rel="stylesheet" href="{% static 'authentication.css' %}">
{% endblock %}


{% block content %}


<div class="page-center">
    <div class="register-container">

        {% if user.is_authenticated %}
            <p>You are logged in as {{ user.username }}</p>
        {% else %}
            <h2>Create Your Account</h2>

            <form method="post">
                {% csrf_token %} <!-- cross-site-request-forgery so hackers can't hijack the form -->
                {{ form.as_p }}
                <button type="submit">Sign Up</button>
            </form>
        {% endif %}

    </div>
</div>


{% endblock %}